<% provide :title, @user.name unless @user.blank? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats", user: @user %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form", new_relation: @supports.new_relation,
      current_relation: @supports.current_relation,
      user: @user if logged_in? %>
    <% if @user.microposts.any? %>
      <h3><%= t("micropost.text") %> (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render partial: "microposts/micropost", collection: @microposts %>
        <div id="edit_form" style="display: none;">
        </div>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
